/* Home.module.css */


/* @import "./globals.css" */
.Home {
  background-color:var(--color-bg);
  width: 100%;
  height: 100%;

  color: white;

  /* NavBar.module.css */

  .navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 61px;
    z-index: 2;
    margin: 0 10%;
  }

  .titlen{
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-text);
  }

  .menu{
    display: flex;
  }

  .menuItems{
    display: flex;
    gap: 47px;
    list-style: none;
  }

  .menuItems a{
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;
  }

  .menuButton{
    width: 55px;
    display: none;
  }

  @media screen and (max-width: 830px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }

    .menu{
      position: absolute;
      right: 0;
      margin-right: 10%;
      flex-direction: column;
      align-items: flex-end;
      gap: 11px;
      z-index: 3;
    }

    .menuButton{
      display: block;
      width: 35px;
      cursor: pointer;
    }

    .menuItems{
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 13px;
      border-radius: 10px;
      background-color: rgb(25, 55, 109);
      background: linear-gradient(0deg, rgba(25,55,109,0.2)0%, rgba(25,55,109,1)100%);
      padding: 24px 33px;
      box-shadow: 0 0 4px 0 rgba(0,0,0,0.25);
    }

    .menuOpen{
      display: flex;
      z-index: 1;
      
    }
  }

  /* intro */

  .container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
  }

  .content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text);
    z-index: 1;
  }

  /* .title{
    font-size:72 px;
    font: var(--color-text);
    margin-bottom: 33px;
    font-family: var(--font-roboto);
    
  } */

  .title{
    font-size: 35px ;
    color: var(--color-text);
  }

  .description{
    font-size: 25px;
    font-family: var(--font-roboto);
    margin-bottom: 52px;
  }

  .contactButton{
    text-decoration: none;
    background-color: var(--color-primary);
    color: var(--color-text);
    border-radius: 100px;
    font-size: 20px;
    font-weight: 600;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .image{
    width: 200px; 
    z-index: 1;
  }


  @media screen and (max-width: 830px){
    .container{
      flex-direction: column-reverse;
    }

    .content{
      align-items: center;
    }

  }

  /* about me */

  .containera{
    position: relative;
    background-color: rgba(12,12,12,0.6);
    border-radius: 15px;
    padding: 73px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
  }

  .titlea{
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
  }

  .contenta{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .aboutImage{
    width: 100px;
    
  }

  .aboutItems{
    color: var(--color-text);
    display: flex;
    flex-direction: column;
  }

  .aboutItemText{
    padding: 5%;
  }

  .aboutItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    list-style: none;
    padding: 25px;
    background-image: linear-gradient(90 deg, rgba(165,215,232,0.42) 0%, rgba(255,255,255,0)100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
  }

  .aboutItem:hover{
    background-size: 100% 100%;
  }

  .aboutItem h3{
    font-size: 25px;
    font-weight: 600;
  }

  .aboutItem p{
    font-size: 25px;
  }

  @media screen and (max-width: 830px){
    .containera{
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
    }

    .contenta{
      flex-direction: column;
    }

    .aboutImage{
      display: none;
    }

    .aboutItems{
      margin-top: 29px;
    }

    .aboutItem{
      padding-left: 0;
      padding-right: 0;
    }
  }

  /* skills */

  .skill-container {
    margin-top: 20px;
  }

  .skills h2{
    font-size: 10px;
  }
  
  .textCenter {
    text-align: center;
  }

  .fontSize{
    font-size: 30px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
  }
  
  .list li {
    margin: 10px;
  }
  
  .skillIcon {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    cursor: pointer;
    transition: transform 0.3s ease-in-out; /* Smooth transition for the hover effect */
  }
  
  .skillIcon:hover {
    transform: scale(1.1); /* Increase size on hover */
  }

  /* experience */


  .timeline{
    position: relative;
    max-width: 1200px;
    margin: 100px auto;
  }


  .textbox{
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.30);
    position: relative;
    border-radius: 6px;
    font-size: 15px;
  }

  .leftcontainer{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    border-radius: 10px;
    left: 0;
  }

  .rightcontainer{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    border-radius: 10px;
    right: -50%;
  }


  .leftcontainer img{
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
    right: -20px;
  }

  .rightcontainer img{
    left: -20px;
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
  }

  .timeline::after {
    content: '';
    position: absolute;
    left: 54%;
    top: 0;
    width: 2px; 
    height: 100%;
    background-color: #fff;
  }

  /* projects */

  .card-container{
    width: 300px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.5s;
  }

  .card-container:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
  }
   
  .image-container img{
    overflow: hidden;
    height: 200px;
  }

  .card-content{
    margin: 1rem;
    margin-top:0.5rem;
  }

  /* h3,p{
    margin: 0;
    padding: 0;
  } */

  .card-title{
    margin-bottom: 0.5rem;
  }

  /* contact */

  .ccontainer {
    color: var(--color-text);
    margin-top: 120px;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: row;
    padding: 58px 10%;
    gap: 10px;
  }
  
  .ctext h3 {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 4px;
  }
  
  .ctext p {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
  }
  
  .clinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 26px;
  }
  
  .clink {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  
  .clink a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
  }
  
  .clink img {
    width: 40px;
  }
  

}

